@import url('https://cdn.streamelements.com/scripts/animate.min.css');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.alert {
    --black: hsl(140, 10%, 10%);
    --green: hsl(140, 90%, 50%);
    --highlight: hsl(140, 90%, 90%);
    --border: rgba(255, 255, 255, 50%);
    --width: 480px;
    --radius: 20px;

    position: absolute;
    width: var(--width);
    top: calc(50% - 200px);
    left: calc(50% - (var(--width) / 2));

    background-color: var(--black);
    color: var(--green);

    border: solid 2px var(--border);
    border-radius: var(--radius);

    padding: 0 20px;
    font-size: 14px;

    z-index: 0;
    animation: alert 5s ease-in-out 0s 1 normal forwards;
}

.alert::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: var(--radius);

    background: linear-gradient(transparent 3px, #00000044 1px);
    background-size: auto 4px;
}

.alert__title {
    font-size: 190%;
}

.alert__image {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.alert__title,
.alert__message {
    padding: 10px 0;
}

.console {}

.console::before {
    content: '> ';
}

.console::after {
    content: '\00a0';
    background-color: var(--green);
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}

.console__character {
    display: inline-block;
    width: 0;
    animation-name: reveal;
    animation-duration: 100ms;
    animation-iteration-count: 1;
    animation-timing-function: step-end;
    animation-fill-mode: forwards;
}

.console__cursor {
    background-color: var(--green);
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}

.highlight {
    color: var(--highlight);
    animation-name: toggle;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}

@keyframes alert {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }

    10% {
        opacity: 1;
        transform: none;
    }

    11% {
        transform: rotateZ(-2deg)
    }

    11.5% {
        transform: rotateZ(2deg)
    }

    12% {
        transform: rotateZ(-2deg)
    }

    12.5% {
        transform: rotateZ(2deg)
    }

    13% {
        transform: rotateZ(-2deg)
    }

    13.5% {
        transform: rotateZ(2deg)
    }

    14% {
        transform: rotateZ(0deg)
    }

    90% {
        transform: none;
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1000px);
    }
}

@keyframes toggle {
    0% {
        color: var(--green);
    }

    50% {
        color: var(--highlight);
    }

    100% {
        color: var(--green);
    }
}

@keyframes blink {
    0% {
        background-color: var(--black);
    }

    50% {
        background-color: var(--green);
    }

    100% {
        background-color: var(--black);
    }
}

@keyframes reveal {
    0% {
        width: 0px;
        visibility: hidden;
        color: rgba(0, 0, 0, 0);
    }

    100% {
        color: var(--green);
        width: auto;
        visibility: visible;
    }
}